h1{
    font-weight: 800;
    font-size: 30px;
    color:black;
    text-transform:;
}

nav{
    background-color:;
    background-size: 100%;
}

body{
    background-image: url("images/header.jpg");
    background-size :100%;
}


p{
    color: white;

}

label{
    color: white;
    font-weight: 800;
}

button{
    color:black;
    background-color: yellowgreen;
    font-weight: 1000;
}

